:root {
  --shadow-blur: 9px;
  --shadow-x-offset: 0.8em;
  --icon-size: 1.2em;
  --transition: all 80ms ease;
}

/* ---- Reseting Start ---- */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}
/* ---- Reseting End ---- */

body {
  width: 100vw;
  height: 100vh;
  background: url(./bg.jpg) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
  min-width: 50%;
  padding: 4rem 8rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

button {
  width: 140px;
  height: 65px;
  display: block;
  justify-content: center;
  align-items: center;
  position: relative;
  border: none;
  border-radius: 1000px;
  background-image: linear-gradient(to right, #4b4b4b, #111111);
  background-color: #000;
  box-shadow: inset var(--shadow-x-offset) 0 var(--shadow-blur) #171717,
    inset calc(var(--shadow-x-offset) * -1) 0 var(--shadow-blur) #494949;
  transition: var(--transition);
}

button:before {
  content: "";
  width: var(--icon-size);
  height: var(--icon-size);
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 18%;
  border: 1px solid #fb4343;
  transform: translate(0, -50%);
  transition: var(--transition);
}

button:after {
  content: "";
  height: var(--icon-size);
  display: block;
  position: absolute;
  top: 50%;
  right: 22%;
  border-left: 1px solid #ccc;
  transform: translate(0, -50%);
  transition: var(--transition);
}

button.left-pressed {
  box-shadow: inset 0.5em 0 7px hsl(0deg 0% 19%),
    inset -1.3em 0 5px hsl(60deg 1% 38%), 0 0 60px 30px #fff;
}

button.left-pressed:before {
  width: 1.15em;
  height: 1.15em;
}

button.left-pressed:after {
  right: 28%;
}

button.right-pressed {
  box-shadow: inset 1.3em 0 5px hsl(0deg 0% 12%),
    inset -0.4em 0 7px hsl(60deg 1% 38%), 0 0 60px 30px #000;
}

button.right-pressed:before {
  left: 22%;
}

button.right-pressed:after {
  height: 1.15em;
}

#main-button {
  margin-bottom: 5rem;
}

#status-text {
  margin: 0;
  font-family: "Bebas Neue", cursive;
  font-size: 4rem;
  line-height: 1;
  color: #fff;
}

#status-text.shadow-text {
  color: #000;
}
#status-text.light-text {
  color: #fff;
}

@media all and (max-width: 720px) {
  #wrapper {
    min-width: 30%;
    padding: 2rem 4rem 1rem;
  }

  #status-text {
    font-size: 3rem;
  }

  button {
    width: 100px;
    height: 46px;
  }

  #main-button {
    margin-bottom: 3rem;
  }
}

@media all and (max-width: 420px) {
  #wrapper {
    min-width: 20%;
    padding: 2rem 2rem 1rem;
  }

  #status-text {
    font-size: 2rem;
  }

  button {
    width: 80px;
    height: 37px;
  }

  #main-button {
    margin-bottom: 2rem;
    font-size: 60%;
  }
}
